@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Shanti&family=Trade+Winds&display=swap');
// font-family: 'Audiowide', cursive;

// font-family: 'Shanti', sans-serif;

// font-family: 'Trade Winds', cursive;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #222222;
}

.main {
	margin: auto;
	height: 100vh;
	width: 80vw;
	display: grid;
	grid-template-rows: repeat(9, 11.111111%);
	grid-template-columns: repeat(9, 11.111111%);
}

.main-title {
	text-align: center;
	margin: 1rem;
	font-family: 'Trade Winds', cursive;
	color: white;
	font-size: 2rem;
}

#apiWindow {
	height: 100%;
	width: 100%;
	grid-column: 1 / 4;
	grid-row: 1 / 10;
	padding: 1rem;
	//   border: solid 1px red;
	#apiCard {
		height: 100%;
		width: 100%;
		padding: 2rem;
		// border: solid 1px blue;
		box-shadow: 0px 0px 5px 1px #adadad;
		border-radius: 5px;
		overflow-y: auto;
		background-color: #adadad;
		.api-title {
			text-align: center;
			font-family: 'Shanti', sans-serif;
		}
		.form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			.input {
				width: 100%;
				height: 1.5rem;
				margin: 3px;
				font-family: 'Shanti', sans-serif;
				&:hover {
					background-color: #f7f7d9;
				}
			}
			#qBtn {
				&:hover {
					background-color: #c4c4b5;
				}
			}
		}
		ul {
			list-style: none;
			li {
				list-style: none;
			}
		}
	}
}

#gameWindow {
	min-width: 600px;
	grid-column: 4 / 10;
	grid-row: 1 / 7;
	//   border: solid 1px blue;

	#game {
		margin: auto;
		width: 600px;
		height: 337.5px;
		padding: 2rem;
		position: relative;
		background-size: 600px 337.5px;
		background-image: url('./images/basketballcourt.jpg');
		box-shadow: 0px 0px 5px 1px #adadad;
		border-radius: 5px;
		#balldiv {
			z-index: 1;
			height: 80px;
			width: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			offset-path: path('M100 250 C10-100 300 19 340 190 V300');
			top: 0px;
			left: 0px;
			animation: none;
			position: absolute;
			border-radius: 50%;
			// border: solid 1px red;
		}
		#ball {
			height: 36px;
			width: 36px;
			position: absolute;
			background-color: red;
			border-radius: 50%;
		}

		#hoopdiv {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 95px;
			left: 414px;
			height: 80px;
			width: 80px;
			z-index: 0;
			// border: solid 1px red;
		}
		#hoopimg {
			height: 35px;
			width: 45px;
		}

		@keyframes none {
			100% {
				offset-distance: 0%;
			}
		}

		@keyframes move {
			0% {
				offset-distance: 0%;
				transform: rotate(0deg);
			}
			80% {
				transform: rotate(-1480deg) scale(0.7);
			}
			100% {
				offset-distance: 100%;
				transform: rotate(-1580deg) scale(0.7);
			}
		}

		@keyframes bounce {
			0%,
			40%,
			70%,
			85%,
			100% {
				transform: translateX(0) scale(0.7);
			}
			20% {
				transform: translateX(-50px) scale(0.7);
			}
			60% {
				transform: translateX(-35px) scale(0.7);
			}
			90% {
				transform: translateX(-5px) scale(0.7);
			}
			95% {
				transform: translateX(-2px) scale(0.7);
			}
		}
	}
	.controlsCard {
		margin-top: 1rem;
		width: 600px;
		height: 10%;
		padding: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		background-color: #adadad;
		box-shadow: 0px 0px 5px 1px #adadad;
		border-radius: 5px;
		#button {
			padding: 6px;
			margin: 20px;
			width: 100px;
			box-shadow: 0 4px gray;
		}
	}
}

#infoWindow {
	//   border: solid 1px red;
	grid-column: 4 / 10;
	grid-row: 6 / 10;
	padding: 1rem;
	#infoCard {
		width: 600px;
		height: 100%;
		margin: auto;
		background-color: #adadad;
		box-shadow: 0px 0px 5px 1px #adadad;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		.infoTitle {
			font-family: 'Shanti', sans-serif;
			font-size: 1.5rem;
			padding: 1rem;
		}
		.instructions {
			list-style: none;
			padding: 0.2rem;
		}
		span {
			border-radius: 5px;
			display: inline-block;
			padding: 0.2rem;
			width: 7rem;
		}
		.easyMode {
			background-color: lime;
		}
		.hardMode {
			background-color: red;
			color: white;
		}
		.aboutCont {
			padding-left: 0.4rem;
			padding-right: 0.4rem;
			line-height: 1.6rem;
		}
		.devCont {
			display: flex;
			justify-content: space-around;
			padding: 1rem;
		}
		.devLinks {
			display: block;
			display: flex;
			flex-direction: column;

			a {
				margin: auto;
			}
		}
		.githubsvg {
			height: 3rem;
			width: 3rem;
			transition: transform 0.3s linear;

			&:hover {
				fill: white;
				transform: translateY(-10px);
			}
		}
	}
}

#myRange {
	width: 200px;
	background: url(./images/bball-icon.png);
}

// input[type="range"]::-webkit-slider-thumb {
//   -webkit-appearance: none !important;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;

//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
//   margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
// }

// /* All the same stuff for Firefox */
// input[type="range"]::-moz-range-thumb {
//   -moz-appearance: none;
//   background-image: :url(images/bball-icon.png);
//   cursor: pointer;
// }

// input[type="range"]::-webkit-slider-runnable-track {
// }

// input[type="range"]:focus::-webkit-slider-runnable-track {
// }

// input[type="range"]::-moz-range-track {
// }
